/* Aca pongo la tipografia */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */



*{
    margin: 0;
    padding: 0;
}

/* General --------- */

header{
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: flex;
    list-style-type: none;

}

.gloria-connect{
    font-size: 30px;
    color: #000000;
}


/*Indexx -----------------  */

.yakuza{
    position:relative;
    top: 2;
    right: 0;
}
.ul-index{
    color: black; 
    text-decoration: none; 
    text-transform: initial;
    display: flex;
    flex-direction: column;
    align-items: end ;
    font-size: 30px;
}
.gloria{
    font-size: 70px;
}

p{
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans', sans-serif;
    
}
.titulo{
    color: rgb(208, 255, 0);
    text-decoration: underline;
    font-family: 'Noto Sans', sans-serif;
}
/* Todos los p con su tamaño*/
.index-section p{
font-size: 25px;
color: #000000;
}

.beneficios{
    font-size: 30px;
    color: #ffee00;
    text-decoration: underline;
    text-decoration-color: #000000;
}



/* Footer */
.Contactar{
    text-decoration: underline;
    text-overflow: clip;
}

.informacionn img{
    width: 500px;
    margin: 0px;
}

.informacionn p{
    font-size: 25px;
    color: #000000;
}

.informacionn-h{
font-size: 30px;
}




/* Logo */

#logo{
      /* Coloca la imagen a la izquierda/derecha  del texto */
    width: 100px;
    height: 90px;
    filter: black(100%);
}


/* Catalogo */

.catalogo{
    font-size: 50px;
    font-weight:bold;
}


.productos{
    font-size: 60px;
        font-weight:bold;
}
.articulo1 p{
    text-align: center;
    margin: 0px;
}

.evolve{
    font-size: 50px;
    text-decoration:underline;
    text-decoration-color: #ffee00;
}

.catalogo-p{
     font-size: 30px; /* Tamaño de fuente más grande */
      text-decoration:solid; /* Subrayado */
            color: #000000;
}
.index-p{
    color: rgb(199, 0, 0);
}

.articulo1{
    border-radius: 11px 11px 11px 11px;
    border:3px solid #ffee00;
    margin: 1px;    
}

.articulo1 img{
    height: 1000px;
}

.articulo2 img{
    height: 700px;
}

.articulo2{
    border-radius: 11px 11px 11px 11px;
    border:3px solid #ffee00;
    margin: 0px;
    padding: 20px;
}
.nike-chaleco{
    font-size: 50px;
    text-decoration:underline;
    text-decoration-color: #ffee00;
}






/* Informacion */

.quienes-somos{
    font-size: 30px;
}

#logo2{
        width: 100px;
    height: 70px;
}



/* Beneficios   */


.texto-beneficios{
    font-size: 20px;
}

    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    
    th {
      background-color: #f2f2f2;
    }
/* Niveles de beneficios */
    .bronce{
        color: rgb(175, 128, 0);
        font-size: x-large;
    }

    .silver{
        color: rgb(97, 97, 97);
        font-size: x-large;
    }

    .gold{
        color: #ffee00;
        font-size: x-large;
    }

    .diamond{
        color: rgba(4, 0, 255, 0.856);
        font-size: x-large;
    }
            /* Los Td del cuadro */
        .tds{
            font-size: large;
            font-style:italic;
        }






            /* Exclusivos */

            .versacce{
                width: 600px;
            }
        